<div class="ContentSideSections Implementation">
    <p-panel *ngIf="!sub" header="Search Role with simple search criterias">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" ngForm #roleForm="ngForm">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="roleName">Role Name</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="roleName" [(ngModel)]="example.roleName" name="roleName" #roleName="ngModel"/>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-search" style="float:left" (click)="search(dt)" label="Search"></button>
            </div>
        </footer>
    </p-panel>
    <p>The list of results below is server-side paginated...</p>

    <p-dataTable #dt [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect($event)"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <header>{{header}} (count: {{currentPage.totalElements}})</header>
    <p-column field="roleName" header="Role Name" sortable="true">
    </p-column>
        <p-column styleClass="col-icon">
            <template let-role="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-trash" (click)="showDeleteDialog(role)" style="float:left"></button>
            </template>
        </p-column>
        <footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left" (click)="addNew()" label="Add"></button>
            </div>
        </footer>
    </p-dataTable>

    <p-confirmDialog width="455"></p-confirmDialog>
</div>
