<div class="ContentSideSections Implementation">
    <p-panel header="Role Details">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="role" ngForm #roleForm="ngForm">
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="roleName">Role Name  *</label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="roleName" [(ngModel)]="role.roleName"  required placeholder="Required"  name="roleName" #roleName="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!roleName.valid && roleName.dirty && roleName.errors['required']">
                        <i class="fa fa-close"></i>
                        Role Name is required
                    </div>
                </div>
            </div>
             <div class="ui-g">
                <div class="ui-g-2" *ngIf="sub">
                    <button pButton type="button" (click)="onCancel()" icon="fa-ban" label="Cancel"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onSave()" icon="fa-floppy-o" label="Save" [disabled]="!roleForm.form.valid"></button>
                </div>
            </div>
        </div>
    </p-panel>

</div>
