<div class="ContentSideSections Implementation">
    <mat-card *ngIf="!sub">
        <mat-card-title>Search Book with search criterias</mat-card-title>
        <mat-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" ngForm #bookForm="ngForm">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="title">Title</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="title" [(ngModel)]="example.title" name="title" #title="ngModel"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="summary">Summary</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="summary" [(ngModel)]="example.summary" name="summary" #summary="ngModel"/>
                </div>
            </div>
<div class="ui-grid-row">
    <div class="ui-grid-col-2">
        <label for="author">Author</label>
    </div>
    <div class="ui-grid-col-6">
        <author-auto-complete [(ngModel)]="example.author" id="author" name="author"></author-auto-complete>
    </div>
</div>
        </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="search(dt)"><mat-icon>search</mat-icon>Search</button>
        </mat-card-actions>
    </mat-card>

    <br/>
    <mat-card>
    <mat-card-subtitle>DB comment: BOOK supports file upload/download for demo</mat-card-subtitle>
    <mat-card-content>
    <p>The list of results below is server-side paginated...</p>

    <p-dataTable #dt [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect($event)"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <p-header>{{header}} (count: {{currentPage.totalElements}})</p-header>
        <p-column field="title" header="Title" sortable="true">
        </p-column>
        <p-column field="summary" header="Summary" sortable="true">
        </p-column>
        <p-column field="extractFileName" header="Extract File Name" sortable="true">
        </p-column>
        <p-column header="Author" sortable="false">
            <ng-template let-author="rowData['author']" pTemplate="body">
                <author-line [author]="author"></author-line>
            </ng-template>
        </p-column>
        <p-column field="publicationDate" header="Publication Date" sortable="true">
            <ng-template let-book="rowData" pTemplate="body">
                {{book.publicationDate | date:"yyyy-MM-dd" }}
            </ng-template>
        </p-column>
        <p-column field="bestSeller" header="Best Seller" sortable="true">
        </p-column>
        <p-column styleClass="col-icon">
            <ng-template let-book="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-trash" (click)="showDeleteDialog(book)" style="float:left"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="addNew()"><mat-icon>add</mat-icon>Add</button>
    </mat-card-actions>
    </mat-card>
</div>
