$output.webapp("app/service/message.service.ts")##
import { Injectable } from '@angular/core'
import { Subject }    from 'rxjs/Subject';
import { Message } from 'primeng/primeng';

@Injectable()
export class MessageService {
    private messageSource = new Subject<Message>();

    messageSource${dollar} = this.messageSource.asObservable();

    info(summary : string, detail : string) {
        this.messageSource.next({severity:'info', summary: summary, detail: detail});
        console.log("INFO: " + summary + " DETAIL: " + detail);
    }

    error(summary : string, detail : string) {
        this.messageSource.next({severity:'error', summary: summary, detail: detail});
        console.log("ERROR: " + summary + " DETAIL: " + detail);
    }

    logError(error: any) {
        let msg = (error.message) ? error.message :
                        error.status ? `Status Code: ${dollar}{error.status} Status Text: ${dollar}{error.statusText}` : 'Server error';
        console.error(msg);
        this.error(msg, '');
    }
}