    <mat-card *ngIf="user" ngForm #userForm="ngForm">
        <mat-card-title>User Details</mat-card-title>
        <mat-card-content>
        <div class="ui-g alignlabels">
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="login"  class="required">Login</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="login" type="text" [(ngModel)]="user.login"  required   name="login" #login="ngModel"/>
                    
                    <mat-error *ngIf="!login.valid && login.dirty && login.errors['required']">
                        Login is required.
                    </mat-error>
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="password"  class="required">Password</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput type="password" [(ngModel)]="user.password"  required   name="password" #password="ngModel"/>
                    
                    <mat-error *ngIf="!password.valid && password.dirty && password.errors['required']">
                        Password is required.
                    </mat-error>
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="email" >Email</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="email" type="email" [(ngModel)]="user.email"   validateEmail name="email" #email="ngModel"/>
                    
                    <mat-error *ngIf="!email.valid && email.dirty && email.errors['validateEmail']">
                        Email is invalid. Expecting a valid email address.
                    </mat-error>
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="isEnabled"  class="required">Is Enabled?</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <p-triStateCheckbox [(ngModel)]="user.isEnabled" name="isEnabled"></p-triStateCheckbox>{{user.isEnabled}}
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="civility" >Civility</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-select [(ngModel)]="user.civility" name="civility" #civility="ngModel" style="width: 90%">
                    <mat-option *ngFor="let civilityOption of civilityOptions" [value]="civilityOption.value">{{ civilityOption.label }}</mat-option>
                </mat-select>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="countryCode" >Country Code</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-select [(ngModel)]="user.countryCode" name="countryCode" #countryCode="ngModel" style="width: 90%">
                    <mat-option *ngFor="let countryCodeOption of countryCodeOptions" [value]="countryCodeOption.value">{{ countryCodeOption.label }}</mat-option>
                </mat-select>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="firstName" >First Name</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="firstName" type="text" [(ngModel)]="user.firstName"   name="firstName" #firstName="ngModel"/>
                    
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="lastName" >Last Name</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="lastName" type="text" [(ngModel)]="user.lastName"   name="lastName" #lastName="ngModel"/>
                    
                </mat-input-container>
                </div>
           </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button *ngIf="sub" (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
            <button mat-raised-button (click)="onSave()" [disabled]="!userForm.form.valid"><mat-icon>save</mat-icon>Save</button>
        </mat-card-actions>
    </mat-card>
    <br/>
    <mat-card *ngIf="user && user.id">
    <mat-card-subtitle>User db relations</mat-card-subtitle>
    <mat-card-content>
    <mat-tab-group>
        <mat-tab label="Passports">
            <passport-list [holder]="user" sub="true"></passport-list>
        </mat-tab>
        <mat-tab label="Roles">
            <p-pickList [source]="sourceRoles" [target]="user.roles" sourceHeader="Available" targetHeader="Selected" [responsive]="true">
                <ng-template let-role pTemplate="item">
{{ role.roleName }}                 </ng-template>
            </p-pickList>
        </mat-tab>

    </mat-tab-group>
    </mat-card-content>
    </mat-card>
