<div class="ContentSideSections Implementation">
    <mat-card *ngIf="!sub">
        <mat-card-title>Search User with search criterias</mat-card-title>
        <mat-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" ngForm #userForm="ngForm">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="login">Login</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="login" [(ngModel)]="example.login" name="login" #login="ngModel"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="email">Email</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="email" [(ngModel)]="example.email" name="email" #email="ngModel"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="firstName">First Name</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="firstName" [(ngModel)]="example.firstName" name="firstName" #firstName="ngModel"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="lastName" [(ngModel)]="example.lastName" name="lastName" #lastName="ngModel"/>
                </div>
            </div>
        </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="search(dt)"><mat-icon>search</mat-icon>Search</button>
        </mat-card-actions>
    </mat-card>

    <br/>
    <mat-card>
    <mat-card-subtitle>DB comment: The User is a human that can connect to this web application</mat-card-subtitle>
    <mat-card-content>
    <p>The list of results below is server-side paginated...</p>

    <p-dataTable #dt [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect($event)"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <p-header>{{header}} (count: {{currentPage.totalElements}})</p-header>
        <p-column field="login" header="Login" sortable="true">
        </p-column>
        <p-column field="password" header="Password" sortable="true">
        </p-column>
        <p-column field="email" header="Email" sortable="true">
        </p-column>
        <p-column field="isEnabled" header="Is Enabled?" sortable="true">
        </p-column>
        <p-column field="civility" header="Civility" sortable="true">
        </p-column>
        <p-column field="countryCode" header="Country Code" sortable="true">
        </p-column>
        <p-column styleClass="col-icon">
            <ng-template let-user="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-trash" (click)="showDeleteDialog(user)" style="float:left"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="addNew()"><mat-icon>add</mat-icon>Add</button>
    </mat-card-actions>
    </mat-card>
</div>
