<div class="ContentSideSections Implementation">
    <mat-card *ngIf="!sub">
        <mat-card-title>Search Author with search criterias</mat-card-title>
        <mat-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" ngForm #authorForm="ngForm">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="lastName" [(ngModel)]="example.lastName" name="lastName" #lastName="ngModel"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="firstName">First Name</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="firstName" [(ngModel)]="example.firstName" name="firstName" #firstName="ngModel"/>
                </div>
            </div>
<div class="ui-grid-row">
    <div class="ui-grid-col-2">
        <label for="favoriteAuthor">Favorite Author</label>
    </div>
    <div class="ui-grid-col-6">
        <author-auto-complete [(ngModel)]="example.favoriteAuthor" id="favoriteAuthor" name="favoriteAuthor"></author-auto-complete>
    </div>
</div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="email">Email</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="email" [(ngModel)]="example.email" name="email" #email="ngModel"/>
                </div>
            </div>
        </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="search(dt)"><mat-icon>search</mat-icon>Search</button>
        </mat-card-actions>
    </mat-card>

    <br/>
    <mat-card>
    <mat-card-subtitle>DB comment: Author has various dates for demo</mat-card-subtitle>
    <mat-card-content>
    <p>The list of results below is server-side paginated...</p>

    <p-dataTable #dt [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage($event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect($event)"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <p-header>{{header}} (count: {{currentPage.totalElements}})</p-header>
        <p-column field="civility" header="Civility" sortable="true">
        </p-column>
        <p-column field="lastName" header="Last Name" sortable="true">
        </p-column>
        <p-column field="firstName" header="First Name" sortable="true">
        </p-column>
        <p-column header="FavoriteAuthor" sortable="false">
            <ng-template let-favoriteAuthor="rowData['favoriteAuthor']" pTemplate="body">
                <author-line [author]="favoriteAuthor"></author-line>
            </ng-template>
        </p-column>
        <p-column styleClass="col-icon">
            <ng-template let-author="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-trash" (click)="showDeleteDialog(author)" style="float:left"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="addNew()"><mat-icon>add</mat-icon>Add</button>
    </mat-card-actions>
    </mat-card>
</div>
