    <mat-card *ngIf="passport" ngForm #passportForm="ngForm">
        <mat-card-title>Passport Details</mat-card-title>
        <mat-card-content>
        <div class="ui-g alignlabels">
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="passportNumber"  class="required">Passport Number</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="passportNumber" type="text" [(ngModel)]="passport.passportNumber"  required   name="passportNumber" #passportNumber="ngModel"/>
                    
                    <mat-error *ngIf="!passportNumber.valid && passportNumber.dirty && passportNumber.errors['required']">
                        Passport Number is required.
                    </mat-error>
                </mat-input-container>
                </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="expirationDate" >Expiration Date</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container>
                  <input matInput id="expirationDate" [matDatepicker]="expirationDatePicker" [(ngModel)]="passport.expirationDate"  name="expirationDate" #expirationDate="ngModel">
                  <mat-datepicker-toggle matSuffix [for]="expirationDatePicker"></mat-datepicker-toggle>
                </mat-input-container>
                <mat-datepicker #expirationDatePicker></mat-datepicker>
                </div>
             <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="holder" class="required">Holder</label></div>
            <div class="ui-g-12 ui-md-10 ui-lg-5">
                <div class="ui-g">
                <div class="ui-g-12 ui-md-5 ui-lg-5">
                    <user-auto-complete [(ngModel)]="passport.holder" id="holder" name="holder" [disabled]="sub"></user-auto-complete>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2">
                    <button pButton id="gotoHolder" type="button" (click)="gotoHolder()" *ngIf="!sub && passport.holder" icon="fa-pencil" label="Edit"></button>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2">
                    <button pButton id="clearHolder" type="button" (click)="clearHolder()" *ngIf="!sub && passport.holder" icon="fa-chain-broken" label="Clear"></button>
                </div>
                </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button *ngIf="sub" (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
            <button mat-raised-button (click)="onSave()" [disabled]="!passportForm.form.valid"><mat-icon>save</mat-icon>Save</button>
        </mat-card-actions>
    </mat-card>

