<div class="ContentSideSections Implementation">
    <p-panel header="Author Details">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="author" ngForm #authorForm="ngForm">
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="civility">Civility </label></div>
                <div class="ui-grid-col-6">
                    <p-dropdown [options]="civilityOptions" [(ngModel)]="author.civility" name="civility" #civility="ngModel"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="firstName">First Name  *</label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="firstName" [(ngModel)]="author.firstName"  required placeholder="Required"  minlength="2" name="firstName" #firstName="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!firstName.valid && firstName.dirty && firstName.errors.required">
                        <i class="fa fa-close"></i>
                        First Name is required
                    </div>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!firstName.valid && firstName.dirty && firstName.errors.minlength">
                        <i class="fa fa-close"></i>
                        First Name must have at least 2 characters.
                    </div>
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="lastName">Last Name </label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="lastName" [(ngModel)]="author.lastName"   minlength="2" name="lastName" #lastName="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!lastName.valid && lastName.dirty && lastName.errors.minlength">
                        <i class="fa fa-close"></i>
                        Last Name must have at least 2 characters.
                    </div>
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="email">Email </label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="email" [(ngModel)]="author.email"   validateEmail name="email" #email="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!email.valid && email.dirty && email.errors.validateEmail">
                        <i class="fa fa-close"></i>
                        Email is invalid. Expecting a valid email address.
                    </div>
                                    </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="birthDate">Birth Date </label></div>
                <div class="ui-grid-col-6">
                    <p-calendar [(ngModel)]="author.birthDate" dateFormat="yy-mm-dd" showAnim="slideDown" [ngModelOptions]="{standalone: true}"></p-calendar>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="birthDateTime">Birth Date Time </label></div>
                <div class="ui-grid-col-6">
                    <p-calendar [(ngModel)]="author.birthDateTime" dateFormat="yy-mm-dd" timeFormat="HH:mm:ss" showAnim="slideDown" [ngModelOptions]="{standalone: true}"></p-calendar>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="favoriteAuthor">Favorite Author</label></div>
                <div class="ui-grid-col-4">
                    <author-auto-complete [(ngModel)]="author.favoriteAuthor" id="favoriteAuthor" name="favoriteAuthor" [disabled]="sub"></author-auto-complete>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="gotoFavoriteAuthor" type="button" (click)="gotoFavoriteAuthor()" *ngIf="author.favoriteAuthor" icon="fa-pencil" label="Edit"></button>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="clearFavoriteAuthor" type="button" (click)="clearFavoriteAuthor()" *ngIf="author.favoriteAuthor" icon="fa-chain-broken" label="Clear"></button>
                </div>
            </div>
             <div class="ui-g">
                <div class="ui-g-2" *ngIf="sub">
                    <button pButton type="button" (click)="onCancel()" icon="fa-ban" label="Cancel"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton type="button" (click)="onSave()" icon="fa-floppy-o" label="Save" [disabled]="!authorForm.form.valid"></button>
                </div>
            </div>
        </div>
    </p-panel>
    <p-tabView *ngIf="author && author.id">
        <p-tabPanel header="Books">
            <book-list *ngIf="showBooks" [author]="author" sub="true" [header]="'Books of this author'" (onAddNewClicked)="showBooks = false"></book-list>
            <book-detail *ngIf="!showBooks" [author]="author" sub="true" (onSaveClicked)="showBooks = true" (onCancelClicked)="showBooks = true"></book-detail>
        </p-tabPanel>
        <p-tabPanel header="Projects">
            <project-list *ngIf="showProjects" [author]="author" sub="true" [header]="'Projects of this author'" (onAddNewClicked)="showProjects = false"></project-list>
            <project-detail *ngIf="!showProjects" [author]="author" sub="true" (onSaveClicked)="showProjects = true" (onCancelClicked)="showProjects = true"></project-detail>
        </p-tabPanel>

    </p-tabView>
</div>
