    <mat-card *ngIf="useCase3" ngForm #useCase3Form="ngForm">
        <mat-card-title>UseCase3 Details</mat-card-title>
        <mat-card-content>
        <div class="ui-g alignlabels">
                <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="id1"  class="required">Id1</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <p-calendar [(ngModel)]="useCase3.id.id1" dateFormat="yy-mm-dd" showTime="true" [ngModelOptions]="{standalone: true}"></p-calendar>
                </div>
             <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="id2" class="required">Id2</label></div>
            <div class="ui-g-12 ui-md-10 ui-lg-5">
                <div class="ui-g">
                <div class="ui-g-12 ui-md-5 ui-lg-5">
                    <useCase2-auto-complete [(ngModel)]="useCase3.id2" id="id2" name="id2" [disabled]="sub"></useCase2-auto-complete>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2">
                    <button pButton id="gotoId2" type="button" (click)="gotoId2()" *ngIf="!sub && useCase3.id2" icon="fa-pencil" label="Edit"></button>
                </div>
                <div class="ui-g-12 ui-md-2 ui-lg-2">
                    <button pButton id="clearId2" type="button" (click)="clearId2()" *ngIf="!sub && useCase3.id2" icon="fa-chain-broken" label="Clear"></button>
                </div>
                </div>
            </div>
                 <div class="ui-g-12 ui-md-2 ui-lg-1"><label for="dummy"  class="required">Dummy</label></div>
                <div class="ui-g-12 ui-md-10 ui-lg-5">
                <mat-input-container style="width: 90%">
                    <input matInput id="dummy" type="text" [(ngModel)]="useCase3.dummy"  required   name="dummy" #dummy="ngModel"/>
                    
                    <mat-error *ngIf="!dummy.valid && dummy.dirty && dummy.errors['required']">
                        Dummy is required.
                    </mat-error>
                </mat-input-container>
                </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button *ngIf="sub" (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
            <button mat-raised-button (click)="onSave()" [disabled]="!useCase3Form.form.valid"><mat-icon>save</mat-icon>Save</button>
        </mat-card-actions>
    </mat-card>

