<div class="ContentSideSections Implementation">
    <md-card *ngIf="useCase3" ngForm #useCase3Form="ngForm">
        <md-card-title>UseCase3 Details</md-card-title>
        <md-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="id1">Id1  *</label></div>
                <div class="ui-grid-col-6">
                    <p-calendar [(ngModel)]="useCase3.id.id1" dateFormat="yy-mm-dd" showTime="true" [ngModelOptions]="{standalone: true}"></p-calendar>
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="id2">Id2*</label></div>
                <div class="ui-grid-col-4">
                    <useCase2-auto-complete [(ngModel)]="useCase3.id2" id="id2" name="id2" [disabled]="sub"></useCase2-auto-complete>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="gotoId2" type="button" (click)="gotoId2()" *ngIf="useCase3.id2" icon="fa-pencil" label="Edit"></button>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="clearId2" type="button" (click)="clearId2()" *ngIf="useCase3.id2" icon="fa-chain-broken" label="Clear"></button>
                </div>
            </div>
             <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="dummy">Dummy  *</label></div>
                <div class="ui-grid-col-6">
                    <input pInputText id="dummy" [(ngModel)]="useCase3.dummy"  required placeholder="Required"  name="dummy" #dummy="ngModel"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!dummy.valid && dummy.dirty && dummy.errors['required']">
                        <i class="fa fa-close"></i>
                        Dummy is required
                    </div>
                </div>
            </div>
         </div>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button *ngIf="sub" (click)="onCancel()"><md-icon>cancel</md-icon>Cancel</button>
            <button md-raised-button (click)="onSave()" [disabled]="!useCase3Form.form.valid"><md-icon>save</md-icon>Save</button>
        </md-card-actions>
    </md-card>

</div>
