$output.file("web/src/app/entities/${entity.model.var}/${entity.model.var}-list.component.html")##
## START MACRO
#macro(xToOneSearch $relation)
<div class="ui-grid-row">
    <div class="ui-grid-col-2">
        <label for="${relation.to.var}">$relation.labels.label</label>
    </div>
    <div class="ui-grid-col-6">
        <${relation.toEntity.model.var}-auto-complete [(ngModel)]="example.${relation.to.var}" id="${relation.to.var}" name="${relation.to.var}"></${relation.toEntity.model.var}-auto-complete>
    </div>
</div>
#end
## END MACRO
<div class="ContentSideSections Implementation">
    <md-card *ngIf="!sub">
        <md-card-title>Search ${entity.model.type} with search criterias</md-card-title>
        <md-card-content>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" ngForm #${entity.model.var}Form="ngForm">
#foreach($attr in $entity.searchAttributes.list)
#if($attr.isSimpleFk())
#xToOneSearch($attr.getXToOneRelation())
#elseif($attr.isString() && !$attr.isEnum())
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <label for="$attr.var">$attr.labels.label</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText id="$attr.var" [(ngModel)]="example.$attr.var" name="$attr.var" ${p}$attr.var="ngModel"/>
                </div>
            </div>
#end
#end
        </div>

        </md-card-content>
        <md-card-actions>
            <button md-raised-button (click)="search(dt)"><md-icon>search</md-icon>Search</button>
        </md-card-actions>
    </md-card>

    <br/>
    <md-card>
#if($entity.hasComment())
    <md-card-subtitle>DB comment: ${entity.comment}</md-card-subtitle>
#end
    <md-card-content>
    <p>The list of results below is server-side paginated...</p>

    <p-dataTable #dt [value]="currentPage.content"
                 [lazy]="true"
                 [rows]="10"
                 [paginator]="currentPage.totalElements > 10"
                 [totalRecords]="currentPage.totalElements"
                 (onLazyLoad)="loadPage(${d}event)"
                 selectionMode="single"
                 (onRowSelect)="onRowSelect(${d}event)"
                 [rowsPerPageOptions]="[5,10,20,50,100]"
                 [responsive]="true">
        <p-header>{{header}} (count: {{currentPage.totalElements}})</p-header>
#foreach($attr in $entity.searchResultAttributes.flatUp.list)
#if ($attr.hasXToOneRelation())
        <p-column header="$attr.xToOneRelation.to.varUp" sortable="false">
            <ng-template let-${attr.xToOneRelation.to.var}="rowData['$attr.xToOneRelation.to.var']" pTemplate="body">
                <${attr.xToOneRelation.toEntity.model.var}-line [${attr.xToOneRelation.toEntity.model.var}]="${attr.xToOneRelation.to.var}"></${attr.xToOneRelation.toEntity.model.var}-line>
            </ng-template>
        </p-column>
#else
#### CPK support
#if($attr.isInCpk())
#set( $valuePath = "${entity.model.var}.${identifiableProperty.var}.${attr.var}")##
#else
#set( $valuePath = "$attr.fullVar")##
#end
#####
#if($attr.isLocalDate())
        <p-column field="$attr.var" header="$attr.labels.label" sortable="true">
            <ng-template let-$entity.model.var="rowData" pTemplate="body">
                {{$valuePath | date:"yyyy-MM-dd" }}
            </ng-template>
        </p-column>
#elseif($attr.isLocalDateTime())
        <p-column field="$attr.var" header="$attr.labels.label" sortable="true">
            <ng-template let-$entity.model.var="rowData" pTemplate="body">
                {{$valuePath | date:"yyyy-MM-dd hh:mm" }}
            </ng-template>
        </p-column>
#else
        <p-column field="$attr.var" header="$attr.labels.label" sortable="true">
#if($attr.isInCpk())
            <ng-template let-$entity.model.var="rowData" pTemplate="body">
                {{ $valuePath }}
            </ng-template>
#end
        </p-column>
#end
#end
#end
        <p-column styleClass="col-icon">
            <ng-template let-$entity.model.var="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-trash" (click)="showDeleteDialog($entity.model.var)" style="float:left"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button (click)="addNew()"><md-icon>add</md-icon>Add</button>
    </md-card-actions>
    </md-card>
</div>
