$output.webapp("app/entities/${entity.model.var}/${entity.model.var}-detail.component.html")##
## -- [MACRO]
#macro(xToOneEdit $relation)
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="$relation.to.var">$relation.to.varUp</label></div>
                <div class="ui-grid-col-4">
                    <${relation.toEntity.model.var}-auto-complete [$relation.toEntity.model.var]="${entity.model.var}.${relation.to.var}" (input)="${entity.model.var}.${relation.to.var}=${dollar}event" [disabled]="sub"></${relation.toEntity.model.var}-auto-complete>
                </div>
                <div class="ui-grid-col-1" *ngIf="!sub">
                    <button pButton id="$relation.to.var" type="button" (click)="goto${relation.to.varUp}()" *ngIf="${entity.model.var}.${relation.to.var}" label="Edit"></button>
                </div>
            </div>
#end
#macro(required $attribute)
#if($attribute.isRequired()) required placeholder="Required"#end
#end
#macro(asterisk $attribute)
#if($attribute.isRequired()) *#end
#end
## -- [/MACROS]
<div class="ContentSideSections Implementation">
    <p-panel header="$entity.model.type Details">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="$entity.model.var" ngForm #${entity.model.var}Form="ngForm">
## ---------------------------------------------------------
#foreach($attr in $entity.formAttributes.flatUp.list)
#if ($attr.isSimplePk() && !$attr.jpa.isManuallyAssigned())
## no need to display it...
#elseif($attr.isSimpleFk())
#xToOneEdit($attr.getXToOneRelation())
#elseif(!$attr.isVersion())
#if($attr.isInCpk())
#set( $valuePath = "${entity.model.var}.${identifiableProperty.var}.${attr.var}")##
#else
#set( $valuePath = "${entity.model.var}.${attr.var}")##
#end
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="$attr.var">$attr.varUp #asterisk($attr)</label></div>
                <div class="ui-grid-col-6">
#if($attr.springMvc.isPassword())
                <input type="text" pPassword [(ngModel)]="$attr.fullVar"/>
#elseif($attr.isHtml())
                todo html
#elseif($attr.isTextArea())
                <textarea pInputTextarea id="$attr.var" [(ngModel)]="$attr.fullVar" autoResize="true"></textarea>
#elseif($attr.isEnum())
                <p-dropdown [options]="${attr.var}Options" [(ngModel)]="$attr.fullVar"></p-dropdown>
#elseif($attr.isString())
                <input pInputText id="$attr.var" [(ngModel)]="$attr.fullVar" #required($attr) ngControl="$attr.var" ${pound}${attr.var}="ngForm"/>
#elseif($attr.isNumeric())
                <input pInputText id="$attr.var" type="number" [(ngModel)]="$attr.fullVar" #required($attr) ngControl="$attr.var" ${pound}${attr.var}="ngForm"/>
#elseif($attr.isDate() && !$attr.isVersion())
#if($attr.isJavaUtilOnlyDate())
                <p-calendar [(ngModel)]="$attr.fullVar" dateFormat="yy-mm-dd" showAnim="slideDown"></p-calendar>
#elseif($attr.isJavaUtilDateAndTime())
                date and time not supported yet
#elseif($attr.isLocalDate())
                <p-calendar [(ngModel)]="$attr.fullVar" dateFormat="yy-mm-dd" showAnim="slideDown"></p-calendar>
#elseif($attr.isLocalDateTime())
                <p-calendar [(ngModel)]="$attr.fullVar" dateFormat="yy-mm-dd" timeFormat="HH:mm:ss" showAnim="slideDown"></p-calendar>
#else
                Date type not supported, do it manually and send us the solution!
#end
#elseif($attr.isBoolean())
                <p-checkbox [(ngModel)]="$attr.fullVar"></p-checkbox>{{$attr.fullVar}}
#elseif($attr.isFile())
                todo file updload
#else

                <input pInputText id="$attr.var" [(ngModel)]="$attr.fullVar" #required($attr) ngControl="$attr.var" ${pound}${attr.var}="ngForm"/>
#end
                </div>
                <div class="ui-grid-col-4">
#if($attr.isRequired())
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!${attr.var}.valid && ${attr.var}.dirty && ${attr.var}.errors.required">
                        <i class="fa fa-close"></i>
                        $attr.varUp is required
                    </div>
#end
                </div>
            </div>
#end ## foreach(....
##---------- [/NON VERSION]
#end
## ---------------------------------------------------------
            <div class="ui-grid-row">
                <div class="ui-grid-col-1" *ngIf="sub">
                    <button pButton type="button" (click)="onCancel()" label="Cancel"></button>
                </div>
                <div class="ui-grid-col-1">
                    <button pButton type="button" (click)="onSave()" label="Save" [disabled]="!${entity.model.var}Form.form.valid"></button>
                </div>
            </div>
        </div>
    </p-panel>
#if($entity.oneToMany.flatUp.size > 0)
    <p-tabView *ngIf="$entity.model.var && ${entity.model.var}.$identifiableProperty.var">
#end
#foreach ($relation in $entity.oneToMany.flatUp.list)
        <p-tabPanel header="$relation.to.varsUp">
            <${relation.toEntity.model.var}-list *ngIf="show$relation.to.varsUp" [$entity.model.var]="$entity.model.var" sub="true" [header]="'$relation.to.varsUp of this $entity.model.var'" (onAddNewClicked)="show$relation.to.varsUp = false"></${relation.toEntity.model.var}-list>
            <${relation.toEntity.model.var}-detail *ngIf="!show$relation.to.varsUp" [$entity.model.var]="$entity.model.var" sub="true" (onSaveClicked)="show$relation.to.varsUp = true" (onCancelClicked)="show$relation.to.varsUp = true"></${relation.toEntity.model.var}-detail>
        </p-tabPanel>
#end
#if($entity.oneToMany.flatUp.size > 0)
    </p-tabView>
#end
</div>
