$output.file("web/src/app/home.component.ts")##
import { Component } from '@angular/core';

@Component({
    moduleId: module.id,
    templateUrl: 'home.component.html',
    styles: [`
             h1 {color: blue;}
             h4 {color: green;}
             .ui-g {
                text-align: center;
                background-color: aliceblue;}
             `]
})
export class HomeComponent {
}
